.vs/
.vscode/
.cursor/

bin/
obj/
artifacts/

data/
logs/
depots/
Assets/Subnautica/Texture2D/

*.zip
tools/**/bin/
tools/**/obj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*_wpftmp.csproj

*.log
*.tmp
mono_crash.*
